:root {
--primmary-text-color: #757575;
--title-text-color: #212121;
--accent-text-color: #2196F3;
--background-page-color: #ffffff;
--background-hero-color: #2F303A;
--team-action-color: #F5F4FA;
--background-bottom-color: #2F303A;
--logo-top-color: #000000;
--bottom-text-color: rgba(255, 255, 255, 0.6);
}
.page {
  background-color: var(--background-page-color);
  color: var(--title-text-color);
  font-family: Roboto , sans-serif;
}

.list {
  color: var(--title-text-color);
  list-style: none;
  padding-left: 0;
  margin-top: 0;

  
  background-color: palevioletred;

}

.link {
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.top-tel {
  color: var(--primmary-text-color);
}

.top-tel:hover,
.top-tel:focus {
  color: var(--accent-text-color);
}

.top-adress {
  color: var(--primmary-text-color);
}

.top-adress:hover,
.top-adress:focus {
  color: var(--accent-text-color);
}

/* logo */
.logo-bottom {
  color: var(--background-page-color);
}
.logo {
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

background-color: aqua;

}
.logo-blue {
  display: flex;
  align-items: center;
  color: var(--accent-text-color);
}
.logo-top {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  color: var(--logo-top-color);
}

.link,.top-adress,
.top-tel {
  padding-top: 31px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

background-color: aquamarine;

}
/* header */
.page-header {
  background-color: var(--background-page-color);
}
.container {
  width: 1170px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin: 0 auto;
}

.top-adress {
  margin-right: 50px;
}
.site-nav {
padding-left: 0;
}
.nav-top,
.site-nav {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;   
}
.list-top {
  display: flex;
  margin-right: 50px;
}
.list-top:nth-child(3) {
  margin-right: 0;
}
.adress-list{
  display: flex;
  margin-left: auto;
}

/* hero */
.hero {
  background-color: var(--background-hero-color);
}
.hero-box {
  flex-direction: column;
}
.hero-title {
  margin-top: 200px;
  margin-bottom: 30px;
  
  color: var(--background-page-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
button.hero-action {
  padding: 0;
}
.hero-action {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-bottom: 200px;
  min-width: 216px;
  min-height: 50px;
  justify-content: center;

  background-color: var(--accent-text-color);
  color:var(--background-page-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: tomato;

}

/* benefits */
.benefits-box {
  display: flex;
  flex-direction: column;
}
.list-title {
  display: flex;
  flex-direction: row;
  margin-top: 94px;
  margin-bottom: 118px;
}
.benefits-sub-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.section-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.section-sub-title,
.benefits-sub-title {
  color: var(--title-text-color);
}
.text {
  color: var(--primmary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}
.list-benefits {
  margin-right: 30px;
}
.list-benefits:nth-child(4) {
  margin-right: 0;
}
.benefits-sub {
  display: flex;
  flex-direction: row;
  margin-bottom: 86px;
}
.benefits-sub-list {
  display: flex;
  margin-right: 30px;
}
.benefits-sub-list:nth-child(3) {
  margin-right: 0;
}
/* team */
.team .text {
  font-size: 16px;
  line-height: 1.19;
}
.team {
  background-color: var(--team-action-color);
} 
/* futter */
.bottom {
  background-color: var(--background-bottom-color);
}
.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.bottom-adress {
  color: var(--background-page-color);
}
.bottom-text {
  color: var(--bottom-text-color);
  text-decoration: none;
}
.bottom-text:hover,
.bottom-text:focus {
  color: var(--accent-text-color);
}

/* portfolio */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-action {
  background-color: var(--team-action-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.list-action:hover,
.list-action:focus,
.list-action:active {
  background-color: var(--accent-text-color);
  color:var(--background-page-color);
  }
.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

